
    <h1 class="font-bold text-lg lg:text-3xl bg-gradient-to-br from-white via-white/50 to-transparent bg-clip-text text-transparent">Demo Hotel<span class="text-indigo-400">.</span></h1>
    <p class="text-slate-400 text-sm mb-2">Bienvenido,</p>
    <a href="#" class="flex flex-col space-y-2 md:space-y-0 md:flex-row mb-5 items-center md:space-x-2 hover:bg-white/10 group transition duration-150 ease-linear rounded-lg group w-full py-3 px-2">
        <div>
            @if (user.avatar) {
                <img class="rounded-full w-10 h-10 relative object-cover" src="http://localhost:3000/{{ user.avatar }}" alt="">
            } @else {
                <img class="rounded-full w-10 h-10 relative object-cover" src="assets/user-avatar.png" alt="">
            }
        </div>
        <div>
            <p class="font-medium group-hover:text-indigo-400 leading-4">{{ user.worker.name }} {{ user.worker.lastname }}</p>
            <span class="text-xs text-slate-400">{{ user.role.name| uppercase }}</span>
        </div>
    </a>
    <hr class="my-2 border-slate-700">
    <div id="menu" class="flex flex-col space-y-2 my-5">

        @for (item of menuItems; track $index) {

            <a 
                [routerLink]="item.path"
                routerLinkActive="bg-blue-800"
                class="hover:bg-white/10 transition duration-150 ease-linear rounded-lg py-3 px-2 group">
                <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 space-x-2 items-center">
                    @for (ico of icons; track $index) {
                        @if (item.path == ico.name) {
                                <div [innerHTML]="transformIco(ico.ico)">
                                
                                </div>
                            }
                        }
                          
                        <div>
                            <p class="font-bold text-base lg:text-lg text-slate-200 leading-4 group-hover:text-indigo-400">{{ item.title }}</p>
                            <p class="text-slate-400 text-sm hidden md:block">{{ item.path }}</p>
                    </div>
                    
                </div>
            </a>
        }


       
    </div>
    <p class="text-sm text-center text-gray-600">v1.0 | &copy; 2024 NaguaraSoftware</p>
